/*start global rules*/
body {
  box-sizing: border-box;
  background: #000000; }

/*end global rules*/
/*start upper nav*/
.upper-nav {
  padding: 10px; }
  .upper-nav .our-upper .caption {
    text-align: end; }
  .upper-nav .our-upper span,
  .upper-nav .our-upper i,
  .upper-nav .our-upper h5,
  .upper-nav .our-upper button {
    color: #ccc; }
  .upper-nav .our-upper button {
    background: transparent;
    border: 1px solid #ec1c23;
    text-transform: uppercase;
    margin-left: 4rem; }

/*end upper nav*/
/*start navbar*/
.navbar .navbar-brand span {
  color: #08526d;
  font-weight: bolder;
  font-size: 32px; }
  .navbar .navbar-brand span strong {
    color: #ec1c23;
    font-size: 23px;
    font-weight: 400; }
.navbar .collapse .navbar-nav .nav-item a {
  padding-right: 15px;
  color: #08526d; }
.navbar .collapse .navbar-nav .nav-item .active {
  color: #ec1c23; }

/*end navbar*/
/*start silder*/
.slide .carousel-inner .carousel-item {
  background-size: cover; }
.slide .carousel-inner .slider-1 h3,
.slide .carousel-inner .slider-2 h3,
.slide .carousel-inner .slider-3 h3 {
  margin-top: 10rem;
  padding-left: 3rem;
  color: #fff;
  width: 500px;
  font-size: 32px;
  position: relative;
  position: relative; }
  .slide .carousel-inner .slider-1 h3 :after,
  .slide .carousel-inner .slider-2 h3 :after,
  .slide .carousel-inner .slider-3 h3 :after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background: linear-gradient(rgba(76, 173, 63, 0.5), rgba(201, 90, 90, 0.5));
    border-radius: 50%;
    position: absolute;
    left: 30rem; }
  .slide .carousel-inner .slider-1 h3 span,
  .slide .carousel-inner .slider-2 h3 span,
  .slide .carousel-inner .slider-3 h3 span {
    background: #ec1c23;
    padding: 1px 4px;
    line-height: 2.5; }
@keyframes moving {
  0%,
          100% {
    top: 0;
    left: 0; }
  50% {
    top: 0;
    left: 400px; } }
.slide .carousel-inner .slider-1 {
  background: linear-gradient(rgba(207, 52, 52, 0.5), rgba(20, 89, 218, 0.5)), url("../images/slider-1.jpg") no-repeat center center; }
.slide .carousel-inner .slider-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/slider-2.jpg") no-repeat center center; }
.slide .carousel-inner .slider-3 {
  background: linear-gradient(rgba(107, 30, 75, 0.5), rgba(28, 201, 158, 0.5)), url("../images/slider-3.jpg") no-repeat center center; }

/*end slider*/
/*start features*/
.features {
  padding: 2rem 0; }
  .features .row .col-sm i {
    background: #ec1c23;
    color: #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px; }
  .features .row .col-sm h5 {
    color: #08526d; }
  .features .row .col-sm p {
    color: #949596; }

/*end features*/
/*start overview*/
.overview {
  background: #000000;
  padding: 3rem 0; }
  .overview .caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .overview .caption .head {
      border-top: 2px solid #26e0d8;
      border-bottom: 2px solid #26e0d8;
      width: 400px; }
      .overview .caption .head h3 {
        font-weight: bolder;
        font-size: 32px;
        padding: 10px 0; }
    .overview .caption p {
      margin: 2rem 10rem;
      color: #949596; }
    .overview .caption span {
      letter-spacing: 9px;
      font-weight: bolder; }
    .overview .caption .move-btn {
      border-top: 1px solid #007bff;
      border-bottom: 1px solid #007bff;
      border-radius: 4px; }
      .overview .caption .move-btn button {
        transition: all 0.3s ease-in-out;
        border: none; }
        .overview .caption .move-btn button:hover {
          background-color: white;
          color: #ee9611;
          box-shadow: 5px 5px 30px 4px gray; }

/*end overview*/
/*start image*/
.image {
  padding-top: 3rem; }
  .image .row ul {
    display: grid;
    grid-template-columns: repeat(6, 130px);
    margin: auto; }
    .image .row ul li {
      border: 1px solid #08526d;
      color: #08526d;
      margin-left: 2px;
      padding: 5px 0;
      cursor: pointer;
      transition: all 0.3s ease-in-out; }
    .image .row ul .active,
    .image .row ul :hover {
      background: #ec1c23;
      color: #fff; }
  .image .our-img {
    padding: 3rem 0; }
    .image .our-img .row {
      margin-left: 0;
      margin-right: 0; }
      .image .our-img .row img {
        padding-bottom: 4px; }

/*end image*/
/*start card*/
.our-card {
  padding-bottom: 2rem; }
  .our-card .head {
    border-top: 2px solid #26e0d8;
    border-bottom: 2px solid #26e0d8;
    width: 400px;
    margin: auto; }
  .our-card p {
    margin: 2rem 10rem;
    color: #949596; }
  .our-card .row .card-title p {
    margin: 0;
    color: #949596; }
  .our-card .row span {
    color: #ec1c23;
    font-size: 26px;
    font-weight: bolder; }

/*end card*/
/*start textimonial*/
.carousel-fade {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/textimonial-back1.jpg");
  background-size: cover; }
  .carousel-fade .carousel-inner .carousel-item .carousel-caption img {
    width: 150px;
    height: 150px; }
  .carousel-fade .carousel-inner .carousel-item .carousel-caption span {
    color: rgba(53, 250, 240, 0.842);
    font-weight: bolder;
    font-size: 23px; }
  .carousel-fade .carousel-control-prev .span {
    background: #030303 !important;
    colo: #ec1c23 !important; }

/*end testimonial*/
/*start table*/
.table {
  padding: 2rem 0;
  margin-bottom: 0; }
  .table .title {
    border-top: 2px solid #26e0d8;
    border-bottom: 2px solid #26e0d8;
    width: 400px;
    margin: 2rem auto; }
    .table .title p {
      color: #949596; }
  .table .row .col-md .caption-price {
    padding-bottom: 10px;
    width: 238px;
    transition: all 0.3s ease-in-out; }
    .table .row .col-md .caption-price:hover {
      padding-top: 5px; }
    .table .row .col-md .caption-price h5 {
      color: #08526d;
      font-weight: bolder;
      text-transform: capitalize;
      padding-top: 20px; }
    .table .row .col-md .caption-price span {
      color: #949596; }
    .table .row .col-md .caption-price ul {
      padding-top: 10px; }
      .table .row .col-md .caption-price ul li {
        padding: 10px 0;
        color: #949596; }
        .table .row .col-md .caption-price ul li:nth-child(1) {
          color: #08526d;
          background: #f5f5f5;
          font-weight: bolder;
          font-size: 26px;
          transition: all 0.3s ease-in-out; }
          .table .row .col-md .caption-price ul li:nth-child(1):hover {
            background: #ec1c23;
            color: #fff; }
        .table .row .col-md .caption-price ul li span {
          font-size: 16px; }

/*end table*/
/*start why choose us*/
.choose .container-fluid {
  padding-left: 0; }
  .choose .container-fluid .images {
    padding-right: 0; }
  .choose .container-fluid .title {
    color: #fff;
    padding-top: 4rem; }
    .choose .container-fluid .title h4 {
      text-transform: capitalize; }
    .choose .container-fluid .title p {
      color: #949596; }

/*end why choose us*/
/*start Statistics*/
.Statistics {
  margin-top: 5rem;
  margin-bottom: 2rem; }
  .Statistics .row {
    margin-right: 0; }
    .Statistics .row .col-md i {
      color: #08526d; }
    .Statistics .row .col-md strong {
      color: #08526d;
      font-size: 25px; }
    .Statistics .row .col-md span {
      color: #ec1c23; }

/*end Statistics*/
/*start contact*/
.contact {
  background: #0e0e0e; }
  .contact .row {
    padding: 5rem 0; }
    .contact .row .title {
      color: #bbb2b2; }
    .contact .row .btn button {
      background: transparent;
      color: #bbb2b2;
      font-size: 22px;
      padding: 2px 10px;
      border: 1px solid #fff;
      transition: all 0.3s ease-in-out; }
      .contact .row .btn button:hover {
        background-color: white;
        color: #ff9900;
        box-shadow: 5px 5px 30px 4px grey; }

/*end contact*/
/*start footer*/
.footer {
  margin-top: 5rem; }
  .footer .row .title span {
    color: #08526d;
    font-weight: bolder;
    font-size: 32px; }
    .footer .row .title span strong {
      color: #ec1c23;
      font-size: 26px;
      font-weight: 400; }
    .footer .row .title span:last-child {
      font-size: 16px;
      padding-left: 5px; }
  .footer .row .title p {
    padding-top: 1rem;
    color: #949596; }
  .footer .row .title i {
    background: #08526d;
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center; }
  .footer .row .list {
    padding-top: 15px; }
    .footer .row .list ul {
      padding-top: 1rem;
      display: grid;
      grid-template-columns: repeat(2, auto); }
      .footer .row .list ul li {
        color: #08526d;
        padding: 3px 0;
        cursor: pointer; }
  .footer .row .contact-me {
    padding-top: 15px; }
    .footer .row .contact-me h4 {
      color: #08526d;
      text-transform: capitalize; }
    .footer .row .contact-me p {
      padding-top: 1rem;
      color: #949596; }
    .footer .row .contact-me span:last-child {
      position: relative;
      top: 1rem;
      color: #ec1c23;
      font-weight: bolder; }

/*end footer*/
/*about me*/
.about-me .row .title p {
  color: #949596; }
  .about-me .row .title p strong {
    color: #08526d;
    font-size: 25px; }
.about-me .row .icon i {
  letter-spacing: 5rem; }

/*extend classes*/
.navbar .collapse .navbar-nav .nav-item a, .choose .container-fluid .title button {
  text-transform: uppercase; }

/*# sourceMappingURL=main.css.map */
